In [ ]:
#importing needed lib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
from datetime import datetime


%matplotlib inline
sns.set(rc={'figure.figsize':(10,6)}, font_scale=1.2)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [5]:
import joblib

In [ ]:
# First Data

In [6]:
df = pd.read_excel('CS.xlsx' , sheet_name = 'Sheet1')
df.head(5)

  Object Name Display Date  Entered  Offer_Grade
0   Company_A   2019-01-01    18379            4
1   Company_B   2019-01-01     6590            2
2   Company_C   2019-01-01     7817            5
3   Company_D   2019-01-01     3349            4
4   Company_E   2019-01-01      623            5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3655 entries, 0 to 3654
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Object Name   3655 non-null   object
 1   Display Date  3655 non-null   datetime64[ns]
 2   Entered       3655 non-null   int64
 3   Offer_Grade   3655 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 114.3+ KB

In [9]:
df['Year'] = df['Display Date'].dt.year
df['Month'] = df['Display Date'].dt.month
df['Day'] = df['Display Date'].dt.day
df['Day_Name'] = df['Display Date'].dt.day_name()
df['Day_Name'] = df['Display Date'].dt.day_name()
df['Week_Day'] = df['Display Date'].dt.weekday
df .head()

,Object Name,Display Date,Entered,Offer_Grade,Year,Month,Day,Day_Name,Week_Day
0,Company_A,2019-01-01,18379,4,2019,1,1,Tuesday,1
1,Company_B,2019-01-01,6590,2,2019,1,1,Tuesday,1
2,Company_C,2019-01-01,7817,5,2019,1,1,Tuesday,1
3,Company_D,2019-01-01,3349,4,2019,1,1,Tuesday,1
4,Company_E,2019-01-01,623,5,2019,1,1,Tuesday,1

In [ ]:
#Start Machine Learning Model

In [12]:
df = pd.get_dummies(df, columns=['Object Name'], drop_first=True)

In [13]:
df.drop(['Day_Name','Display Date'] , axis = 1 ,  inplace = True )

In [14]:
df.columns

Index(['Entered', 'Offer_Grade', 'Year', 'Month', 'Day', 'Week_Day',
       'Season_Spring', 'Season_Summer', 'Season_Winter',
       'Object Name_Company_B', 'Object Name_Company_C',
       'Object Name_Company_D', 'Object Name_Company_E'],
      dtype='object')

In [22]:
df[['Entered', 'Year', 'Month', 'Day', 'Week_Day', 'Offer_Grade',
       'Object Name_Company_B', 'Object Name_Company_C',
       'Object Name_Company_D', 'Object Name_Company_E']]

,Entered,Year,Month,Day,Week_Day,Offer_Grade,Object Name_Company_B,Object Name_Company_C,Object Name_Company_D,Object Name_Company_E
0,18379,2019,1,1,1,4,0,0,0,0
1,6590,2019,1,1,1,2,1,0,0,0
2,7817,2019,1,1,1,5,0,1,0,0
3,3349,2019,1,1,1,4,0,0,1,0
4,623,2019,1,1,1,5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
3650,14558,2020,12,31,3,2,0,0,0,0
3651,8981,2020,12,31,3,5,1,0,0,0
3652,3162,2020,12,31,3,1,0,1,0,0
3653,2158,2020,12,31,3,1,0,0,1,0
3654,257,2020,12,31,3,1,0,0,0,1

In [23]:
x = df.drop(['Entered'], axis=1)
y = df['Entered']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [25]:
scaler= StandardScaler()

scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [26]:
models = {
    "LR": LinearRegression(),
    "KNNR" : KNeighborsRegressor(), 
    "SVR": SVR(),
    "DT": DecisionTreeRegressor(),
    "RF": RandomForestRegressor(),
    "XGBR": XGBRegressor()
}

In [27]:
for name, model in models.items():
    print(f'Using model: {name}')
    model.fit(x_train, y_train)
    print(f'Training Score: {model.score(x_train, y_train)}')
    print(f'Test Score: {model.score(x_test, y_test)}')  
    print('-'*10)

Using model: LR
Training Score: 0.9572367746386006
Test Score: 0.9504916415943743
----------
Using model: KNNR
Training Score: 0.9850557442043655
Test Score: 0.9719855448977318
----------
Using model: SVR
Training Score: -0.022944486479867576
Test Score: -0.013318410355342314
----------
Using model: DT
Training Score: 1.0
Test Score: 0.9721681687175651
----------
Using model: RF
Training Score: 0.9975950263305006
Test Score: 0.9814927432403169
----------
Using model: XGBR
Training Score: 0.9977774405952428
Test Score: 0.9805653582749813
----------

C:\MyAnaconda\lib\site-packages\xgboost\data.py:114: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase " +
C:\MyAnaconda\lib\site-packages\xgboost\data.py:114: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase " +

In [ ]:
model = RandomForestRegressor()
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)
y_pred

In [ ]:
y_test

In [ ]:
x.columns

In [ ]:
start_date = "2021-07-01"
end_date = "2021-07-31"
start_offer_date = "2021-07-15"
end_offer_date = "2021-07-22"
Offer_grad = 5
company = [1,0,0,0]

In [ ]:
newdates = pd.Series(pd.date_range(start=start_date,end=end_date))
df2 = pd.DataFrame({'Display Date':newdates ,'Object Name_Company_B':company[0], 'Object Name_Company_C':company[1],
                    'Object Name_Company_D':company[2], 'Object Name_Company_E':company[3]})

In [ ]:
offerdates = pd.Series(pd.date_range(start=start_offer_date,end=end_offer_date))
df3 = pd.DataFrame({'Display Date':offerdates , 'Offer_Grade' :Offer_grad })

In [ ]:
df4 = pd.merge(df3, df2, how='right', on=['Display Date'])
df4 = df4.fillna(value = 0)

In [ ]:
df4['Year'] = df4['Display Date'].dt.year
df4['Month'] = df4['Display Date'].dt.month
df4['Day'] = df4['Display Date'].dt.day
df4['Day_Name'] = df4['Display Date'].dt.day_name()
df4['Week_Day'] = df4['Display Date'].dt.weekday

In [ ]:
df4.drop(['Display Date'] , axis = 1 ,  inplace = True )

In [ ]:
df4.columns

In [ ]:
df4 =df4[['Offer_Grade', 'Year', 'Month', 'Day', 'Week_Day',
       'Object Name_Company_B', 'Object Name_Company_C',
       'Object Name_Company_D', 'Object Name_Company_E']]

df4.head(2)

In [ ]:
#'Offer_Grade'

In [ ]:
call_custom_data = scaler.transform(df4)

In [ ]:
prediction = model.predict(call_custom_data)
prediction

In [ ]:
int(prediction.sum())

In [ ]:
joblib.dump(model, 'model01.h5')
joblib.dump(scaler, 'scaler01.h5')

In [ ]:
#2nd Data Machine LEarning

In [ ]:
df = pd.read_excel('CS.xlsx' , sheet_name = 'Sheet2')
df.head(5)

In [ ]:
df.profile_report()

In [ ]:
df.columns

In [ ]:
sns.stripplot(x="Number of Calls T", y="Number Of Agents", hue='Company',data=df, palette='Set3')

In [ ]:
df.info()

In [ ]:
df['Year'] = df['Display Date'].dt.year
df['Month'] = df['Display Date'].dt.month

df .head()

In [ ]:
df = pd.get_dummies(df, columns=['Company'], drop_first=True)

In [ ]:
df.drop(['Display Date'] , axis = 1 ,  inplace = True )

In [ ]:
x = df.drop(['Number Of Agents'], axis=1)
y = df['Number Of Agents']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
scaler2= StandardScaler()

scaler2.fit(x_train)

x_train = scaler2.transform(x_train)
x_test = scaler2.transform(x_test)

In [ ]:
models = {
    "LR": LinearRegression(),
    "KNNR" : KNeighborsRegressor(), 
    "SVR": SVR(),
    "DT": DecisionTreeRegressor(),
    "RF": RandomForestRegressor(),
    "XGBR": XGBRegressor()
}

In [ ]:
for name, model in models.items():
    print(f'Using model: {name}')
    model.fit(x_train, y_train)
    print(f'Training Score: {model.score(x_train, y_train)}')
    print(f'Test Score: {model.score(x_test, y_test)}')  
    print('-'*10)

In [ ]:
model2 = RandomForestRegressor()

model2.fit(x_train, y_train)

In [ ]:
y_pred = model2.predict(x_test)
y_pred

In [ ]:
y_test

In [ ]:
x.columns

In [ ]:
start_date = "2021-05-01"
end_date = "2021-05-31"
start_offer_date = "2021-05-15"
end_offer_date = "2021-05-22"
Offer_grad = 5
company = [1,0,0,0]

In [ ]:
int(end_date.split('-')[0])

In [ ]:
int(end_date.split('-')[1])

In [ ]:
Offer_grad

In [ ]:
pre_input_with_Calls = {'Number of Calls T':int(prediction.sum()), 'Offer_Grade':Offer_grad, 'Year':int(end_date.split('-')[0]), 'Month':int(end_date.split('-')[1]) ,'Company_Company_B':company[0], 'Company_Company_C':company[1], 'Company_Company_D':company[2],'Company_Company_E':company[3]}

call_custom_data = np.array(list(pre_input_with_Calls.values()))

call_custom_data = scaler2.transform([call_custom_data])

agent_prediction = model2.predict(call_custom_data)

In [ ]:
int(agent_prediction)

In [ ]:
joblib.dump(model2, 'model02.h5')
joblib.dump(scaler2, 'scaler02.h5')